.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 750px;
  animation: modalFadeIn 0.3s ease-in-out forwards;
}

.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close i {
  color: #e74c3c;
  font-size: 24px;
}

.label-text {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}

.submit-button {
  display: block;
  margin: 0 auto;
  background-color: #2980b9;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #1c6ea4;
}

@media (max-width: 480px) {
  .modal-content {
    padding: 20px;
  }

  .input-field {
    margin-bottom: 10px;
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
