.coloration{
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    color: white;
    margin-top: -35px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 0.5rem;
}